body {
    background: linear-gradient(to bottom, maroon, #ffffff, maroon);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    width: 320px;
    background: linear-gradient(to bottom, #08034bc5, #2a3849);
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.calculator-screen {
    height: 60px;
    font-size: 2rem;
    color: #003b03;
    background-color: #294d2b;
    border: none;
    padding: 10px;
}


.calculator-buttons .btn {
    height: 60px;
    font-size: 1.5rem;
    border: 2px;
    border-color: #294850;
}

.text-center {
    color: #ffffff;
    background: maroon;
    text-align: center;
    border: #2c2c2c 10px solid;
    border-radius: 10px;
    padding: 25px;
}